<nav class="fixed top-0 w-full">
	<div class="w-10/12 mx-auto py-5 grid grid-cols-2">
		<a href="/">ExpressApp</a>
		<ul class="flex justify-end">
			<li><a href="/">Home</a></li>
			<li><a href="/test1">Test1</a></li>
			<li><a href="/test2">Test2</a></li>
		</ul>
	</div>
</nav>
